:root {
    /* colors */
    --color-primary: #111111c6;
    --color-secondary: #2e3135;
    --color-tertiary: #49545b;
    /* layout sizes */
    --spacing: 1rem;
    --radius: 0.3rem;
    --line: 0.1rem solid var(--color-primary);
    --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    /* font sizes */
    --size-xxs: 0.75rem;
    --size-xs: 1.2rem;
    --size-s: 1.4rem;
    --size-m: 1.6rem;
    --size-l: 1.8rem;
    --size-xl: 2rem;
    --size-xxl: 2.4rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#container > * {
    display: flex;
}

#side-bar {
    background-image: url(../assets/lisa-obenauf-IagoFxKy6q0-unsplash.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#side-bar .logo {
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
    font-size: var(--size-xxl);
    font-family: 'Trade Winds', cursive;
    color: #fff;
    margin-bottom: 1em;
}

.logo > img {
    width: 120px;
    height: 150px;
}

.description {
    font-size: var(--size-m);
    font-weight: 700;
    margin: var(--spacing);
    width: 50ch;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

#mainContent {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.info {
    padding: 2em;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sign-up {
    padding: 2em;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: var(--shadow);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing);
}

.title {
    font-size: var(--size-m);
    font-weight: 600;
    grid-column: 1 / 3;
    margin-left: var(--spacing);
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
}

.input-group > label {
    font-size: var(--size-xxs);
    font-weight: 600;
    letter-spacing: 0.1em;
}

.input-group > input {
    padding: 0.5em;
    border-radius: var(--radius);
    border: 1px solid #ccc;
    letter-spacing: 0.1em;
}

.input-group > input:focus {
    outline: none;
    border: 2px solid var(--color-tertiary);
}

.input-group > input.invalid {
    border: 2px solid red;
}

.submit-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing);
    margin-left: var(--spacing);
}

.btn {
    padding: 0.5em 2em;
    border-radius: var(--radius);
    border: 1px solid #ccc;
    letter-spacing: 0.1em;
    background-color: var(--color-primary);
    color: #fff;
    font-size: var(--size-xs);
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-secondary);
}

.btn:active {
    background-color: var(--color-tertiary);
}